extends layout

block slideshow
  //- img(src= "/images/bg.jpg")
  //- iframe(width="1280" height="720" src="//www.youtube.com/embed/Yqm2ScA1Uyc?list=UUlvNlfULstJfJFsx60or1Kg" frameborder="0" allowfullscreen)
  video(id="big-video-vid_html5_api" class="vjs-tech" preload="auto" data-setup="{}" webkit-playsinline="" autoplay="" poster="null" src="http://static.any.do/anydowebsite/cal-video.mp4" style="position: absolute; width: 100%;")
block content
  //- script(src="/js/slider.js")
  //- div.container
  //-   div.image-slider-wrapper
  //-       ul
  //-         #image_slider
  //-           li
  //-             img(src="./images/01.jpg")
  //-           li
  //-             img(src="./images/02.jpg")
  //-           li
  //-             img(src="./images/03.jpg")
  //-           li
  //-             img(src="./images/04.jpg")
  //-           li
  //-             img(src="./images/05.jpg")
  h1= title
  p Welcome to #{title}. 
