doctype html
html
  head
    title= Umpfel
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    block header
        .content
        block menu
          nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.container
            div.navbar-header
              button(type="button").navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="#") Umpfel
            div.collapse.navbar-collapse#bs-example-navbar-collapse-1
              ul.nav.navbar-nav
                li.active
                  a(href="#") Home
                li
                  a(href="#") About Me
                li
                  a(href="#") Works
                li
                  a(href="#") News    
                //- li.dropdown
                  a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown 
                    span.caret
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="#") Action
                    li
                      a(href="#") Another action</a></li>
                    li
                      a(href="#") Something else here</a></li>
                    li.divider
                    li
                      a(href="#") Separated link
                    li.divider
                    li
                      a(href="#") One more separated link
              //- form.navbar-form.navbar-left(role="search")
                div.form-group
                  input.form-control(type="text" placeholder="Search")
                button.btn.btn-default(type="submit") Submit
              ul.nav.navbar-nav.navbar-right
                li
                  a(href="#") Login
                //- li.dropdown
                  a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown 
                    span.caret
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="#") Action
                    li
                      a(href="#") Another action
                    li
                      a(href="#") Something else here
                    li.divider
                    li
                      a(href="#") Separated link

    block placeholder
      block slideshow
    block content
    block footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/bootstrap.min.js")