body.content{
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200;
}

.nav{
	padding-right: 10px;
	padding-left: 10px;
}

a {
  color: #00B7FF;
}
a:hover {color: #F76F76;}

img {
	box-shadow: 2px 3px 1px #888888;
	max-height: 250px;
}

/*.container{
    width:800px;
    height:400px;
    padding:20px;

    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black; 
}
.image-slider-wrapper{
    overflow: hidden;
}
#image_slider{
    position: relative;
*/